<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="ENV" value="DEV"/>
    <add key="dbserver" value="dbsPdmas.res.sys.shared.fortis"/>
    <add key="database" value="DMAS"/>
    <add key="configtable" value="dmas.dbo.TB_APP_ITRPT_CDDConfig"/>
    <add key="logpath" value="\\resnp.sysnp.shared.fortis\Files\D\Global\_ApplicationData\DMSDMDB-DMAS\Se-DMS\APPS\CDD\log\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Email" value="ali.belcaid@bnpparibasfortis.com"/>
    <add key ="SQL" value ="
         DELETE FROM dmas.dbo.TB_STG_CDD_TASKS_SortedTasks

INSERT INTO dmas.dbo.TB_STG_CDD_TASKS_SortedTasks
SELECT     dbo.TB_STG_CDD_TASKS_data.id, dbo.TB_STG_CDD_TASKS_prevTasks.id AS previd, dbo.TB_STG_CDD_TASKS_nextTasks.id AS nextid, null
FROM         dbo.TB_STG_CDD_TASKS_data LEFT OUTER JOIN
                      dbo.TB_STG_CDD_TASKS_nextTasks ON dbo.TB_STG_CDD_TASKS_data.data_Id = dbo.TB_STG_CDD_TASKS_nextTasks.data_Id LEFT OUTER JOIN
                      dbo.TB_STG_CDD_TASKS_prevTasks ON dbo.TB_STG_CDD_TASKS_data.data_Id = dbo.TB_STG_CDD_TASKS_prevTasks.data_Id
GROUP BY dbo.TB_STG_CDD_TASKS_data.id, dbo.TB_STG_CDD_TASKS_prevTasks.id , dbo.TB_STG_CDD_TASKS_nextTasks.id 

UPDATE [DMAS].[dbo].[TB_STG_CDD_TASKS_data]     
SET   idprev = (SELECT MAX(previd) FROM dmas.dbo.TB_STG_CDD_TASKS_SortedTasks S WHERE [DMAS].[dbo].[TB_STG_CDD_TASKS_data].id = S.id )
      ,idnext = (SELECT MAX(nextid) FROM dmas.dbo.TB_STG_CDD_TASKS_SortedTasks S WHERE [DMAS].[dbo].[TB_STG_CDD_TASKS_data].id = S.id )
  
DELETE FROM dmas.dbo.TB_STG_CDD_TASKS_data_ordered

INSERT INTO  dmas.dbo.TB_STG_CDD_TASKS_data_ordered
(
     [phaseId]
      ,[name]
      ,[id]
      ,[className]
      ,idprev
      ,idnext
)
SELECT  
      [phaseId]
      ,[name]
      ,[id]
      ,[className]
      ,idprev
      ,idnext
  FROM [DMAS].[dbo].[TB_STG_CDD_TASKS_data]
  GROUP BY 
      
      [phaseId]
      ,[name]
      ,[id]
      ,[className]
	  ,idprev
	  ,idnext    
"/>

    <add key ="SQLPHASES" value ="

DELETE FROM dmas.dbo.TB_STG_CDD_PHASES_SortedPhases
         
INSERT INTO dmas.dbo.TB_STG_CDD_PHASES_SortedPhases


SELECT dbo.TB_STG_CDD_PHASES_data.id, 
		   dbo.TB_STG_CDD_PHASES_previousPhase.id AS previd, 
		   dbo.TB_STG_CDD_PHASES_nextPhase.id AS nextid, 
		   null

FROM   dbo.TB_STG_CDD_PHASES_data 
		   LEFT OUTER JOIN dbo.TB_STG_CDD_PHASES_nextPhase ON dbo.TB_STG_CDD_PHASES_data.data_Id = dbo.TB_STG_CDD_PHASES_nextPhase.data_Id 
		   LEFT OUTER JOIN dbo.TB_STG_CDD_PHASES_previousPhase ON dbo.TB_STG_CDD_PHASES_data.data_Id = dbo.TB_STG_CDD_PHASES_previousPhase.data_Id

GROUP BY dbo.TB_STG_CDD_PHASES_data.id, 
         dbo.TB_STG_CDD_PHASES_previousPhase.id , 
		     dbo.TB_STG_CDD_PHASES_nextPhase.id 

UPDATE [DMAS].[dbo].[TB_STG_CDD_PHASES_data]     
SET   idprev = (SELECT MAX(previd) FROM dmas.dbo.TB_STG_CDD_PHASES_SortedPhases S WHERE [DMAS].[dbo].[TB_STG_CDD_PHASES_data].id = S.id )
      ,idnext = (SELECT MAX(nextid) FROM dmas.dbo.TB_STG_CDD_PHASES_SortedPhases S WHERE [DMAS].[dbo].[TB_STG_CDD_PHASES_data].id = S.id )

DELETE FROM dmas.dbo.TB_STG_CDD_PHASES_data_ordered

INSERT INTO  dmas.dbo.TB_STG_CDD_PHASES_data_ordered
(
     [releaseId]
      ,[name]
      ,[id]
      ,[className]
      ,idprev
      ,idnext
)
SELECT  
      [releaseId]
      ,[name]
      ,[id]
      ,[className]
      ,idprev
      ,idnext
  FROM [DMAS].[dbo].[TB_STG_CDD_PHASES_data]
  GROUP BY 
      
      [releaseId]
      ,[name]
      ,[id]
      ,[className]
	  ,idprev
	  ,idnext
"/>
    
  </appSettings>
</configuration>
