<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="ENV" value="DEV"/>
    <add key="dbserver" value="dbsPdmas.res.sys.shared.fortis"/>
    <add key="database" value="DMAS"/>
    <add key="allowedReleasesQuery" value="SELECT distinct id FROM [DMAS].[dbo].[TB_ODS_CDD_RELEASES] where status &lt;&gt; 'DONE'"/>
    <add key="configtable" value="dmas.dbo.TB_APP_ITRPT_CDDConfig"/>
    <add key="logpath" value="\\resnp.sysnp.shared.fortis\Files\D\Global\_ApplicationData\DMSDMDB-DMAS\Se-DMS\APPS\CDD\log\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	  <add key="Email" value="ali.belcaid@bnpparibasfortis.com"/>
    <add key="ServerUrl" value="https://cdd.res.sys.shared.fortis:8443/cdd/"/>
    <add key="Token" value="eyJhbGciOiJIUzUxMiJ9.eyJ1c2VybmFtZSI6ImFsaS5iZWxjYWlkQGJucHBhcmliYXNmb3J0aXMuY29tIiwidGVuYW50SWQiOiIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiLCJ1c2VySWQiOjExNTkzMzcsImp0aSI6IjVlNTljY2I1LWMzYmYtNDk3OC1iZGMzLTg0MTc2NGRiMTc1YSIsImV4cCI6MTc1MzE5NTQ1OH0._PiWOSW0szUHVrZ0p0XB0f25huuzP8b79zFrf9hMTdY9vSN95PuiMfh606f90BE7XugJ9ED9vJ2unWEaMJ16JQ"/>
    
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
